@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --inset-shadow-sm: -10px 0 5px 0 inset;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f4f8fc;
  --navbar: #e1eef7;
  --card: #ffffff;
  --primary: #2563eb;
  --accent: #38bdf8;
  --text: #1e293b;
  --secondary-text: #64748b;
}

.dark {
  --bg: #0f172a;
  --navbar: #0f1623;
  --card: #1e293b;
  --primary: #60a5fa;
  --accent: #38bdf8;
  --text: #e2e8f0;
  --secondary-text: #cbd5e1;
}
